<ion-content>
    <headeraux nameHeader="Club"></headeraux>
    <br><br><br>
    
      <div *ngIf="entity" id="profile-page-header" class="orange">
        <ion-grid>
            <ion-row>
                <ion-col col-5>
                <br>
                <img src="{{entityPhoto}}" alt="profile image" class="z-depth-2 responsive-img">
                </ion-col> 
                <ion-col col-7>
                <h3 class="bold white-text">{{entity.name}}</h3>
                <a href="{{entity.website}}" target="_blank">
                    <button ion-button color="primary">Sitio Web <i class="material-icons left">language</i></button>
                </a>
                </ion-col> 
                <ion-col col-6>
                <span class="medium-small bold black-text">Direccion</span>  
                <p style="height: 50px;" [innerHTML]="entity.adr_address" class="bold white-text"></p>
                </ion-col>
                <ion-col col-6>
                <span class="medium-small bold black-text">Contacto</span>                      
                <p style="height: 50px;" class="card-title bold white-text">{{entity.international_phone_number}}</p>
                </ion-col>
                <ion-col col-6>
                <span class="medium-small bold black-text">Reputacion</span>  
                <p style="height: 50px;" class="card-title bold white-text" [innerHTML]="entityStars"></p>
                </ion-col>
                <ion-col col-6>
                <span class="medium-small bold black-text">Estado</span>  
                <p style="height: 50px;" class="card-title bold white-text" [innerHTML]="entityOpening"></p>
                </ion-col>
            </ion-row>
        </ion-grid>
      </div>
    
      <div *ngIf="entity" class="container">
    
            <collapsible-list [type]="'expandable'">
                <collapsible-list-item >
                    <collapsible-header class="waves-effect green">
                        <h4 class="green-text">Opiniones </h4>
                    </collapsible-header>
                    <collapsible-body [expanded]="true">
                        <ul class="collection">
                            <li *ngFor="let review of entity.reviews" class="collection-item avatar">
                                <img src="{{review.profile_photo_url}}" alt="" class="circle">
                                <b><span class="title">{{review.author_name}}</span></b>
                                <p>{{review.text}}</p>
                            </li>
                        </ul>
                    </collapsible-body>
                </collapsible-list-item>
    
                <collapsible-list-item >
                    <collapsible-header class="waves-effect green">
                        <h4 class="green-text">Partidos </h4>
                    </collapsible-header>
                    <collapsible-body [expanded]="true">
                        <ul *ngIf="matchs.length != 0" class="collection">
                            <li *ngFor="let m of matchs" class="collection-item avatar">
                                <b><span class="title">{{m.title}}</span></b> - {{m.type}}
                                <br><br>
                                <p>
                                    Resultado:<br>
                                    <ng-container *ngIf="m.type == 'Singles'">
                                        {{m.p1a}} vs {{m.p2a}}
                                    </ng-container>
                                    <ng-container *ngIf="m.type == 'Dobles'">
                                        {{m.p1a}} {{m.p1b}} vs {{m.p2a}} {{m.p2b}}
                                    </ng-container>
                                    <br>
                                    <ng-container *ngIf="m.p1win == true">
                                        <span class="green-text bold">W</span>
                                    </ng-container>
                                    <ng-container *ngIf="m.p1win == false">
                                        <span class="red-text bold">L</span>
                                    </ng-container>
                                    {{m.p1score}}
                                </p>
                            </li>
                        </ul>
                        <ng-container *ngIf="matchs.length == 0">
                            <p>No se han jugado partidos aqui</p>
                        </ng-container>
                    </collapsible-body>
                </collapsible-list-item>
                
                <collapsible-list-item>
                    <collapsible-header class="waves-effect green">
                        <h4 class="green-text">Torneos </h4>
                    </collapsible-header>
                    <collapsible-body [expanded]="true">
                        <ul *ngIf="tournaments.length != 0" class="collection">
                            <li *ngFor="let t of tournaments" class="collection-item avatar">
                                <a class="black-text" href="/tournament/{{t.id}}">
                                    <b><span class="title">{{t.title}}</span></b> - 
                                    <ng-container *ngIf="t.count == 4">
                                        Torneo chico
                                    </ng-container>
                                    <ng-container *ngIf="t.count == 8">
                                        Torneo mediano
                                    </ng-container>
                                    <ng-container *ngIf="t.count == 16">
                                        Torneo grande
                                    </ng-container>
                                </a>
                                <br><br>
                                <p>Creador: <a class="orange-text" href="/profile/{{t.creator_id}}">{{t.creator}}</a></p>
                            </li>
                        </ul>
                        <ng-container *ngIf="tournaments.length == 0">
                            <p>No se han jugado torneos aqui</p>
                        </ng-container>
                    </collapsible-body>
                </collapsible-list-item>
            </collapsible-list>
    <br><br>
    </div>
    
</ion-content>
