/*Fontsize*/
.fs-38{
    font-size: 38px;
}
.fs-25{
    font-size: 25px;
}
.fs-11{
    font-size:11px;
}
.fs-19{
    font-size: 19px;
}
.fs-14{
    font-size:14px;
}
.fs-22{
    font-size:22px;
}

/*Cursor*/
.pointer{
    cursor: pointer;
}

/*Bold*/
.bold{
    font-weight: bold;
}

/*Display*/
.d-none{
    display: none;
}


/*Positions*/
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position:fixed;
}

/*Scrollbar*/
body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	background-color: #4caf50;
}

/*Datepickers*/
.picker__date-display {
    background-color: #4caf50 !important;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #ff9800 !important;
}
.picker__today, .picker__close, {
    color: #ff9800 !important;
}
.ui-datepicker {
    background: #4caf50 !important;
    color: #ff9800 !important;
  }

.map-big{
    height: 500px;
}
.map-small{
    height: 350px;
}


/*Mediaqueries*/

/*Mobile*/
@media only screen and (max-width: 576px) {

    .no-margin-mobile{
        margin-top:0px !important;
    }
    .fs-38{
        font-size:30px !important;
    }
    .fs-25{
        font-size:20px !important;
    }
    .mobile-ajust{
        padding-left:35px !important;
    }
}


/*Materialize*/
.orange-text {
    color: #ff9800 !important;
}
.green-text {
    color: #4CAF50 !important;
}
.white-text{
    color: #F5F5F5 !important;
}
.black-text{
    color:#000000 !important;
}
.yellow-text{
    color: #ffeb3b !important;
}
.red-text{
    color: #f44336 !important;
}
.circle {
    border-radius: 50%;
}
.orange {
    background-color: #ff9800 !important;
}

.button-modal {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-modal-grey {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-modal-orange {
    background-color: #ff9800;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button-modal-red {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button-modal-green {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

